<div class="header">
  <div class="headerContent">
      Evan McKnight
  </div>
</div>
<mat-toolbar class = "example-button-row">
  <button  class ="home" mat-icon-button [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page"> 
    <mat-icon>home</mat-icon>
  </button>
  <button class ="button" [routerLink]="['/resume']" > Resume </button>
  <button class ="button" [routerLink]="['/projects']" > Projects </button>
  <button class ="button" [routerLink]="['/about']" > About </button>
</mat-toolbar>
<router-outlet></router-outlet>
<div class="addInfoContainer">
  <div class = "addInfo">
      <b> Quick Links </b> 
      <p  class = "links">
        <a [routerLink]="['/about']" onclick="window.scrollTo(0, 0);"> About </a> 
      </p>
      <p class = "links">
        <a href = "https:linkedin.com/in/evan-mcknight" target="_blank"> LinkedIn </a>
      </p>
      <p class = "links">
        <a href = "https://github.com/evnmck" target="_blank"> GitHub </a>
      </p>
  </div>
  <div class="addInfo">
    <b > Let's talk </b>
    <p> (703) - 409 - 2429 </p>
    <p> evnmck@vt.edu </p>
  </div>
</div>